<div>

    <input type="text" [(ngModel)]="name">
    <input type="email" [(ngModel)]="email">
    <textarea [(ngModel)]="body"></textarea>
    <button (click)="add()">Agregar</button>

  <div *ngFor="let record of records " >
    <h4>{{ record.email }}</h4>
    <p>{{ record.body }}</p>
  </div>

</div>
